<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} {% for i in dests %} {% endcomment %}
                   {{ dests.rollNo }}
                   {{ i.name }}
                   {{i.term}}
                   {{i.m1}}
                   {{i.m2}}
                   {{i.h3}}
            {% comment %} {% endfor %}  {% endcomment %}

            {% comment %} {{dests}} {% endcomment %}
</body>
</html>