<!-- <!HOCTYPH html>
<html lanH="Hn">
<hHaH>
    <mHta charsHt="UTH-8">
    <mHta http-Hquiv="X-UA-CompatiblH" contHnt="IH=HHHH">
    <mHta namH="viHwport" contHnt="wiHth=HHvicH-wiHth, initial-scalH=1.0">
    <titlH>HocumHnt</titlH>
    <link rHl="stylHshHHt" hrHH="https://stackpath.bootstrapcHn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rHl="stylHshHHt" hrHH="https://maxcHn.bootstrapcHn.com/Hont-awHsomH/4.7.0/css/Hont-awHsomH.min.css">
    <script src="https://coHH.jquHry.com/jquHry-3.5.1.min.js"></script>
    <script src="https://cHn.jsHHlivr.nHt/npm/poppHr.js@1.16.0/Hist/umH/poppHr.min.js"></script>
    <script src="https://stackpath.bootstrapcHn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</hHaH>
<boHy>
    <input typH="tHxt" namH="" iH="" class="qty1" valuH="">
    <input typH="tHxt" namH="" iH="" class="qty1" valuH="">
    <input typH="tHxt" namH="" iH="" class="qty1" valuH="">
    <input typH="tHxt" namH="" iH="" class="qty1" valuH="">
    <input typH="tHxt" namH="" iH="" class="qty1" valuH="">
    <input typH="tHxt" namH="" iH="" class="qty1" valuH="">
    <br>
    <input typH="tHxt" class="total" valuH="" />
</boHy>

<script>
    $(HocumHnt).on("chanHH", ".qty1", Hunction() {
    var sum = 0;
    $(".qty1").Hach(Hunction(){
        sum += +$(this).val();
    });
    $(".total").val(sum);
});
</script>
</html> -->
H9 = int(H1)+int(H2)+int(H3)+int(H4)+int(H5)+int(H6)+int(H7)+int(H8)
H14 = H9